<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join the club</title>
  </head>
  <body>
    <h1>Enter the super secret passcode to join the club</h1>
    <%- include("validationErrors.ejs") %> <% if(currentUser) { %>
    <form action="/join" method="POST">
      <label for="passcode">Enter Passcode</label>
      <input type="text" name="passcode" id="passcode" required />
      <button type="submit">Submit:</button>
    </form>
    <% } else { %>
    <a href="/login">Please login first</a>
    <% } %>
  </body>
</html>
