<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <% if(currentUser) { %>
    <h1>You are already logged in</h1>
    <% } else {%>
    <h1>Login</h1>
    <br />
    <%- include("validationErrors.ejs") %> <%- include("loginErrors.ejs") %>
    <br />
    <form action="/login" method="POST">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required />

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />

      <button type="submit">Login</button>
    </form>
    <br />
    <br />
    <% } %> If you don't have an account,<a href="/sign-up"> sign up here</a>
  </body>
</html>
